################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ylesanne1_1/.vs/PythonApplication1/v14
