################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ylesanne1_1/.vs/PythonApplication1/v14
/ylesanne1_1/__pycache__
/ylesanne1_2/.vs/ylesanne1/v14
/ylesanne1_2/bin/Debug
/ylesanne1_2/obj/Debug
/ylesanne1/.vs/PythonApplication1/v14
/ylesanne1/.vs/ylesanne1/v14
/ylesanne1/.vs/ylesanne1_1/v14
/ylesanne1/obj/Debug
/ylesanne1/__pycache__
/ylesanne1/bin/Debug
/ylesanne1/.vs/ylesanne1ja2/v14
/testapp
/Tests/obj/Debug
/ylesanne1/packages/NUnit.3.10.1
/ylesanne1/UnitTestProject1/obj/Debug
/ylesanne3/bin/Debug
/ylesanne3/obj/Debug
