################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ylesanne1_1/.vs/PythonApplication1/v14
/ylesanne1_1/__pycache__
/ylesanne1_2/.vs/ylesanne1/v14
/ylesanne1_2/bin/Debug
/ylesanne1_2/obj/Debug
